*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    color: white;
    background-color: #242424;
    margin: 0;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
}

header ul li{
    margin-left: 25px;
    padding: 10px;
}

header ul a:hover{
    color: #0088c7;
    transition: 0.5s ease-in-out;
}

header ul a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

table, td, tr{
    border: 1px solid red;
}

table{
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    text-align: center;
}

td{
    width: 33.33%;
}

td h3{
    margin-top: 10px;
}

.img-box img{
    margin-top: 10px;
    width: 95%;
    border-radius: 10px;
}

.img-box{
    margin: 0 auto;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    background-color: #c6c6c6;
    width: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 0px #707070;
}

.little-img-box img{
    width: 31%;
}

.specs{
    margin: 0 auto;
    margin-top: 15px;
    text-align: left;
    width: 80%;
    border: 1px solid red;
}